.transaction-header {
    display: grid;
    margin: 20px;
    background-color: #7476df;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    font-weight: bold;
}

.transaction-header span {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}